.workout-container {
    display: flex; /* Ajout de flex pour le conteneur principal */
    flex-direction: column; 
  }

  .Workout{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .banner {
    width: 786px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(90deg, #9588E5 47.47%, rgba(234, 88, 12, 0.5) 100%);
    object-fit: cover; 
    overflow: hidden; /* Cela empêche l'image de déborder du rectangle arrondi */
    position: relative;
    margin-left: 20px;
  }
  
  .image-container {
    position: absolute;
    right: 0; /* Positionne l'image à droite */
    top: 0;
    height: 100%;
    width: 50%; /* Ajustez cette valeur selon vos besoins */
    overflow: hidden;
  }
  
  .image-container img {
    height: 100%;
    width: auto;
    min-width: 100%; /* Assurez-vous que l'image couvre la largeur nécessaire */
    object-fit: cover; /* Cela garantit que l'image couvre toute la surface du conteneur sans être déformée */
  }
  
  .banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, transparent 47.47%, rgba(255, 255, 255, 0.5) 100%);
    pointer-events: none; /* permet le clic à travers le pseudo-élément */
  }
  
  .workout-list {
    list-style: none;
    padding: 0;
    margin-right: 20px; /* Marge entre la liste et le carré */
    margin-left: auto; /* Aligner la liste à droite du contenu précédent */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 25px;
  }
  
  .workout-list li {
    margin-bottom: 10px;
     /* Espace entre les éléments de la liste */
  }
  
  .h1 {
    color: #FFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  .p1 {
    color: #FFF;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: 0.1px;
    margin-left: 20px;
  }
  
  .workouts {
    display: flex;
  }
  
  .square-right-container {
    width: 379.896px;
    height: 343.132px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-left: 20px; /* Place le carré à droite */
    margin-top: 20px;
    overflow: auto;
    font-family: monospace, sans-serif;
  }
  
  .square-left-container {
    width: 379.896px;
    height: 343.132px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(150deg, #8b7bef 4.71%, #C4BAFF 110.44%), linear-gradient(132deg, #FF4C01 3.51%, #FDC9B3 99.4%, rgba(255, 76, 1, 0.12) 101.96%);
    backdrop-filter: blur(21.20192527770996px);
    margin-left: 20px; /* Place le carré à gauche */
    margin-top: 20px;
  }
  
  .achievements-container {
    display: flex;
  
    margin-top: 70px;
    margin-left:20px;
    
  }
  
  .achievement {
    display: flex;
    width: 110px;
    padding: 26px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: linear-gradient(180deg, #e8b99d 0.07%, #5C1B00 151.64%);
    box-shadow: 0px 23px 42px 0px rgba(0, 0, 0, 0.15);
    margin: 10px;
  
  } 
  .achiv{
    color: var(--Slate-800, #1E293B);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-left: 20px;
  }
  
  
  /* Styles pour les icônes FontAwesome */
  .achievement .icon {
    color: #fff; /* Couleur blanche */
  }
  
  /* Styles pour le texte des éléments */
  .achievement span {
    color: #fff; /* Couleur blanche */
  }
  .myschedule{
    color: var(--Slate-600, #475569);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 50px;
  }
  