.goal-selector {
    font-family: Arial, sans-serif;
    overflow: auto;
    height: 200px; /* Adjust this to control the visible height */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.goal-option {
    cursor: pointer;
    padding: 10px;
}

.goal-option.selected {
    background-color: rgb(71, 71, 208);
    color: white;
}

h2 {
    
    font-size: 3.2em;
    line-height: 1.1;
    
}
p{
    font-weight: bold;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttonn  {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(71, 71, 208); /* Set the button color */
    color: white; /* Set the text color */
}
.buttonp {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(0, 0, 0); /* Set the button color */
    color: white; /* Set the text color */
}