.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: blue; /* Change to your desired selected color */
}

.button-female {
  margin: 54px;
  padding: 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #000000;
  color: white;
}
.button-female :hover {
  background-color: #f3daff;
  transition: 0,7s;
}
 

.button-male {
  margin: -13px;
  padding: 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #4F46E5;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonn {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(71, 71, 208);
  color: white;
  margin-left: 150px;
}
