.welcome-container {
    text-align: center;
    color: white;
    padding: 10px;
    height: 88.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .backgroundImageClass {
    background-image: url('../assets/images/emma-simpson-mNGaaLeWEp0-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

  .get-started-button {
    background-color: #4CAF50; /* Green color */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .get-started-button:hover {
    background-color: #45a049; /* Darker shade of green on hover */
    color: black;
    transition: 0.5s;
  }
  
  