@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  
}
.l2 {
  background: #FFF;

}

.sidebar {
  color: white;
}
  
  .layout1 {
    width: 378px;
    height: 1024px;
    flex-shrink: 0;
    border-radius: 40px;
background: #5041BC;
    color: white;}
    
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}
.logo-icon {
  width: 50px;
  height: 50px;
display:flex;
align-items:center;
justify-content:center;
 
font-size: 1.5rem;
border-radius: 50%;
background: rgba(28, 17, 41, 0.88);
}
.menu-bar {
  height: 88vh;
  margin-top: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
}
.toggle-btn {
 bottom: 30 px;
 left: 20px;
 display: flex;
  align-items: center;
  font-size: 1rem;
   margin-left: 2px;
   margin-bottom: 3px;


}

.toggle{
  margin-left: 10px;
}

.list{
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  }
  
  .list Button{
    margin-left: 57%;
    background-color: #5041BC;
    color: white;
    border-color: white; 
  
  }
  .material-icons.icon2 {
    color: #5041BC; /* Set color for icon1 */
  }
  
  .table th{
    color: #ACACAC;
  font-weight: 600;
  line-height: normal;
  }